body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.snip1325 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1325 img {
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.snip1325:hover img,
.snip1325.hover img {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}
/* Demo purposes only */
body {
  background-color: #212121;
}
